#informacoes, #intro, #lateral{
    display: inline-block;
}

h1{
    margin-top: 0px;
    margin-bottom: 8%;
}

#informacoes{
    margin-left: 20%;
}

#lateral{
    margin-left: 10%;
}

#informacoes h2, #lateral h2{
    margin-top: 0px;
}

#informacoes p, #lateral p{
    margin: 0;
}

#grid{
    display: grid;
    grid-template-areas: 
    "titulo informacoes formulas";
    margin-bottom: 10px;
}

#intro{
    grid-area: titulo;
}

#informacoes{
    grid-area: informacoes;
}

#lateral{
    /*
    display: flex;
    flex-direction: column;
    justify-content: end;
    */
    grid-area: formulas;
}