#informacoes, #intro, #lateral{
    display: inline-block;
}

h1{
    margin-top: 0px;
    margin-bottom: 8%;
}

#informacoes{
    margin-left: 20%;
}

#lateral{
    margin-left: 10%;
}

#informacoes h2, #lateral h2{
    margin-top: 0px;
}

#informacoes p, #lateral p{
    margin: 0;
}

#intro p{
    display: inline;
    margin: 1px;
}

#grid{
    display: grid;
    grid-template-areas: 
    "titulo informacoes formulas";
}

#intro{
    grid-area: titulo;
}

#lambda{
    width: 60px;
}

#informacoes{
    grid-area: informacoes;
}

#lateral{
    grid-area: formulas;
}

#chart{
    display: flex;
    justify-content: center;
    margin-left: -2%;
}